# OS files
.DS_Store
Thumbs.db

# KiCad backup/autosave
*~
*.bak
*.tmp
_autosave-*

# Vivado build artifacts
*.log
*.jou
*.str
.cache/
.hw/
.ip_user_files/
.sim/
.srcs/
.runs/
.xil/
*.wdb
*.pb
*.dcp

# Simulation temp files
waveforms/
transcripts/

# Random temp work
/offline/